<div id="fh5co-features">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-search"></i>
					</span>
					<div class="feature-copy">
						<h3>SEO</h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-mobile"></i>
					</span>
					<div class="feature-copy">
						<h3>Mobile Apps</h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-left">
					<span class="icon">
						<i class="icon-video"></i>
					</span>
					<div class="feature-copy">
						<h3>Art Direction</h3>
						<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
