<div id="fh5co-feature-product" class="fh5co-section-gray">
	<div class="container">
		<div class="row row-bottom-padded-md">
			<div class="col-md-12 text-center heading-section">
				<h3>Grab this free template now.</h3>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
			</div>
			<div class="col-md-12 text-center">
				<p><a href="http://freehtml5.co/" class="btn btn-primary btn-lg">Download me please</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center animate-box">
				<p><img src="images/macbook.png" alt="Free HTML5 Bootstrap Template" class="img-responsive"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="feature-text">
					<h3><span class="number">01.</span> Smart</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-text">
					<h3><span class="number">02.</span> Intuitive</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="feature-text">
					<h3><span class="number">03.</span> Elegant</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
				</div>
			</div>
		</div>

	</div>
</div>
