<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT portfolio ANY>
<!ATTLIST portfolio id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1057" key="cb1734d5-8d81-4a8e-98d7-4d18e1010522" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-09-01T18:16:58" updateDate="2018-09-01T18:16:58" nodeName="Home" urlName="home" path="-1,1057" isDoc="" nodeType="1056" creatorName="Admin" writerName="Admin" writerID="0" template="1055" nodeTypeAlias="home" isPublished="true">
    <blog id="1060" key="c8c270c8-3f7b-423b-a62c-0f04b910e078" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2018-09-02T07:56:26" updateDate="2018-09-02T07:56:26" nodeName="Blog" urlName="blog" path="-1,1057,1060" isDoc="" nodeType="1059" creatorName="Admin" writerName="Admin" writerID="0" template="1058" nodeTypeAlias="blog" isPublished="true" />
    <about id="1063" key="4b29e5d8-33e2-4cd0-9183-1b02ea4b7261" parentID="1057" level="2" creatorID="0" sortOrder="1" createDate="2018-09-02T08:11:39" updateDate="2018-09-02T08:11:39" nodeName="About" urlName="about" path="-1,1057,1063" isDoc="" nodeType="1062" creatorName="Admin" writerName="Admin" writerID="0" template="1061" nodeTypeAlias="about" isPublished="true" />
    <contact id="1066" key="43b0d05e-37fb-48dc-b444-9d0fc7a6dcac" parentID="1057" level="2" creatorID="0" sortOrder="2" createDate="2018-09-02T08:18:26" updateDate="2018-09-02T08:18:26" nodeName="Contact" urlName="contact" path="-1,1057,1066" isDoc="" nodeType="1065" creatorName="Admin" writerName="Admin" writerID="0" template="1064" nodeTypeAlias="contact" isPublished="true" />
    <portfolio id="1069" key="63a62bf0-ae40-4ea7-ab3f-ea6448234516" parentID="1057" level="2" creatorID="0" sortOrder="3" createDate="2018-09-02T08:24:07" updateDate="2018-09-02T08:24:07" nodeName="Portfolio" urlName="portfolio" path="-1,1057,1069" isDoc="" nodeType="1068" creatorName="Admin" writerName="Admin" writerID="0" template="1067" nodeTypeAlias="portfolio" isPublished="true" />
    <services id="1072" key="7d5f2962-0717-4eb3-918f-721f5ef1adb0" parentID="1057" level="2" creatorID="0" sortOrder="4" createDate="2018-09-02T08:26:29" updateDate="2018-09-02T08:26:29" nodeName="Services" urlName="services" path="-1,1057,1072" isDoc="" nodeType="1071" creatorName="Admin" writerName="Admin" writerID="0" template="1070" nodeTypeAlias="services" isPublished="true" />
  </home>
</root>